- if current_user
	.success-message= flash[:success]
	%h2= @user.name
	%h4= @user.email
	- if current_user == @user
		- if current_user.has_role? :admin
			= render 'roles/admin_view'
		- elsif current_user.has_role? :staff
			= render 'roles/staff_view'
- else
	%h4 You are not logged in!
	= link_to "Login", login_url