!!!
%html
	%head
		%title Noel Dispatch
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%script(src="https://maps.google.com/maps/api/js?key=AIzaSyB2Chv-sdSPphlh-IsBKXfdzY8zUKqglww&libraries=places")
		= javascript_pack_tag 'mapFeature'
	%body
		%header
			.logo= link_to image_tag("noelyall.png"), root_path
			%nav
				%ul.main-nav
					- if logged_in?
						%li= link_to "Logout", logout_url, method: "delete"
						%li= link_to "Profile", profile_path
						- if current_user.has_role? "admin"
							%li= link_to "Team", admin_users_path
						-else
							%li= link_to "Fleet", admin_users_path
					-else
						%li#staff= link_to "Staff", login_url
						%li#drivers= link_to "Drivers", login_url
						%li#client= link_to "Client", login_url
		= yield
